@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:wght@400;500;700&display=swap');

.hederNav-wrapper {
	display: flex;
	flex-direction: column;

	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.8) 1%,
			rgba(45, 52, 60, 0.38) 51.04%,
			rgba(255, 200, 97, 0.131) 99%
		),
		url('./../../img/headerNav/header-bg.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	font-family: 'DM Sans', sans-serif;
}

/* Main header */

.header {
	padding: 20px 0;
	min-height: 700px;

	display: flex;
	justify-content: left;
	align-items: center;

	color: #ffffff;
}

.header-row {
	width: 100%;
	display: flex;
	justify-content: left;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.4);

	padding: 20px 30px;
	border-radius: 24px;
}

.header-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header__title {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
}

.header__title strong {
	font-size: 80px;
	font-weight: 700;
}

.header__title em {
	font-style: normal;
	color: #ffc961;
}

.header__text {
	margin-bottom: 40px;
	font-size: 22px;
	line-height: 1.333;
	color: #d6d6d6;
	font-family: 'Poppins', sans-serif;
}

.header__text p + p {
	margin-top: 0.5em;
}
