/* Nav */

.nav {
	color: #ffffff;
	letter-spacing: normal;
	padding: 20px 0;
}

.other-nav {
	color: #ffffff;
	letter-spacing: normal;
	padding: 20px 0;

	background: radial-gradient(at 100% 100%, #363636, #666363);
}

.container-nav {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 80%;
}

.logo {
	margin-right: auto;
	border: none;
}

.nav-row {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 22px;
	font-weight: 700;
}

.nav-list__link {
	color: var(--heder-text);

	/* плавность анимации при наведении*/
	transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
	opacity: 0.6;
}

.nav-list__link--active {
	position: relative;
}

.nav-list__link--active::before {
	content: '';

	position: absolute;
	left: 0;
	top: 100%;

	display: block;
	height: 2px;
	width: 100%;
	background-color: #ffc961;
}

@media (max-width: 958px) {
	.nav-row {
		justify-content: unset;
	}
}

@media (max-width: 640px) {
	.container-nav {
		max-width: 100%;
	}

	.nav-list {
		font-size: 18px;
	}

	.nav-list {
		column-gap: 20px;
	}
}
