@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Poppins:wght@400;500;700&display=swap');

html,
body {
	min-height: 100vh;

	font-family: 'Poppins', sans-serif;
	letter-spacing: -0.5px;
}

#root {
	min-height: 100vh;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* General */

/* Нам необходима ширина контейнера 1170 пикселей, 1200 пикселей - 15 отступ слева - 15 отступ справа = 1170 пикселей*/
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1240px;
}

.section {
	padding: 70px 0;
}

.title-1 {
	font-size: 50px;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 60px;
	text-align: center;
}

.title-1 em {
	font-style: normal;
	background: #ffc961;
	border-radius: 24px;
	padding: 0 10px;
}

.title-2 {
	font-size: 50px;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 30px;
}

.title-2 em {
	font-style: normal;
	background: #ffc961;
	border-radius: 24px;
	padding: 0 10px;
}

.title-3 {
	font-size: 26px;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 10px;
}

/* Button */

.btn {
	/* перевели ссылку в формат в котором нормально сможем работать с размерами как с обычным блоком*/
	display: inline-block;
	/**/
	height: 80px;
	width: 230px;
	padding: 20px 40px;

	border-radius: 50px;
	background-color: #6640ff;
	color: #ffffff;
	letter-spacing: 0.15px;
	font-size: 30px;
	font-weight: 700;

	/* плавность анимации при наведении*/
	transition: opacity 0.2s ease-in;
}

.btn:hover {
	opacity: 0.7;
}

.btn:active {
	position: relative;
	top: 2px;
}

@media (max-width: 920px) {
	.title-2 {
		font-size: 40px;
	}
}

@media (max-width: 640px) {
	.title-2 {
		font-size: 35px;
	}

	.title-3 {
		font-size: 22px;
	}
}

@media (max-width: 530px) {
	.btn {
		height: 70px;
		width: 190px;
		padding: 15px 35px;

		font-size: 26px;
	}
}

@media (max-width: 430px) {
	.title-2 {
		font-size: 30px;
	}

	.title-3 {
		font-size: 20px;
	}
}

/* Products */

.products-section {
	padding: 40px 0;

	display: flex;
	flex-direction: column;

	background-color: #ffffff;
	font-family: 'Poppins', sans-serif;
}

.products {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 1210px;

	row-gap: 40px;
}

.product {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	max-height: 400px;

	border-radius: 24px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
		rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

	padding: 0 0;
	border: #ffffff solid 3px;
	/* плавность анимации при наведении*/
	transition: border 0.5s;
	transition: padding 0.5s;
}

.product a {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-height: 300px;
	border-radius: 10px;
}

.product:hover {
	padding: 10px 0;
	border: #6640ff solid 3px;
}

.product__img {
	max-width: 240px;
	max-height: 300px;
	padding: 0 10px;
}

.product__description {
	display: flex;
	flex-direction: column;
}

.product__title {
	padding: 15px 20px 25px;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.3;

	color: #000;
}

.product__text {
	padding: 0 20px;

	font-size: 18px;

	opacity: 0.8;

	color: #000;
}

.product__text em {
	padding: 0 20px;

	font-size: 20px;

	font-style: normal;
	background: #ffc961;
	border-radius: 24px;
	padding: 0 10px;

	color: #000;
}

.product__text p {
	padding-bottom: 20px;
}

/* WB-section */

.wb-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	row-gap: 20px;
	column-gap: 20px;

	width: 100%;
	max-height: 110px;

	padding: 12px 30px;

	background-color: #6640ff;
	border-radius: 24px;

	margin: 20px 0 80px;
}

.wb-section__title {
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
}

.wb-section__text {
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	opacity: 0.85;
}

.btn-wb {
	/* перевели ссылку в формат в котором нормально сможем работать с размерами как с обычным блоком*/
	display: inline-block;
	/**/
	height: 50px;
	width: 160px;
	padding: 10px 20px;

	border-radius: 20px;
	background-color: #ff77d9;
	color: #ffffff;
	letter-spacing: 0.15px;
	font-size: 22px;
	font-weight: 500;

	/* плавность анимации при наведении*/
	transition: opacity 0.2s ease-in;

	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease;
}

.btn-wb::after {
	background: url(https://printsewing.ru/img/btn_arrow.svg) center no-repeat;
	content: '';
	position: relative;
	width: 12px;
	height: 12px;
	display: inline-block;
	margin: 0 0 0 10px;
	vertical-align: middle;
}

.btn-wb:hover {
	opacity: 0.7;
}

.btn-wb:active {
	position: relative;
	top: 2px;
}

.wb-logo-img {
	max-width: 300px;
	max-height: 86px;
}
