.arrow-button {
	min-width: 100px;
	min-height: 100px;
	cursor: pointer;
}

.arrow-button.right,
.arrow-button.right.disable {
	min-width: 50px;
	min-height: 50px;
	cursor: pointer;
	background: url('./../../img/about_slider/arrow-right-grey.svg') center / 100%
		100% no-repeat;
}

.arrow-button.left,
.arrow-button.left.disable {
	min-width: 50px;
	min-height: 50px;
	background: url('./../../img/about_slider/arrow-left-grey.svg') center / 100%
		100% no-repeat;
	cursor: pointer;
}

.arrow-button.left:hover {
	background: url('./../../img/about_slider/arrow-left.svg') center / 100% 100%
		no-repeat;
}

.arrow-button.right:hover {
	background: url('./../../img/about_slider/arrow-right.svg') center / 100% 100%
		no-repeat;
}

.arrow-button.left.disable {
	pointer-events: none;
}

.arrow-button.right.disable {
	pointer-events: none;
}

@media (max-width: 700px) {
	.arrow-button.right,
	.arrow-button.right.disable {
		min-width: 100px;
		min-height: 100px;
	}

	.arrow-button.left,
	.arrow-button.left.disable {
		min-width: 100px;
		min-height: 100px;
	}
}

@media (max-width: 530px) {
	.arrow-button.right,
	.arrow-button.right.disable {
		min-width: 70px;
		min-height: 70px;
	}

	.arrow-button.left,
	.arrow-button.left.disable {
		min-width: 70px;
		min-height: 70px;
	}
}

@media (max-width: 430px) {
	.arrow-button.right,
	.arrow-button.right.disable {
		min-width: 50px;
		min-height: 50px;
	}

	.arrow-button.left,
	.arrow-button.left.disable {
		min-width: 50px;
		min-height: 50px;
	}
}
